# Data Types and Structures Questions

1.  What are data structures, and why are they important?
    
    - Data structures are specialized formats for organizing , storing , and accessing collections of data . They provide efficient ways to manage information based on its characteristics and intended use .

    why they are important:-

    - Efficiently stores and organizes the data.
    - Improves performance of operations.
    - It helps to solve complex problem.

2. Explain the difference between mutable and immutable data types with examples?

   - Mutable objects can be changed after creation . It allows append , add , remove . Mutable data types are list , set . Immutable objects cannot be changed once created . Immutable data types are tuple , string .

3. What are the main differences between lists and tuples in Python?

   - List are mutable means elements of a list can be added , removed or modified and list use square bracket[] . Tuples are immutable means we cannot change after creation . It use parantheses().

4. Describe how dictionaries store data?

   - Dictionaries store data in the form of key value pairs. Each key must be unique and immutable but values can be of any type and dictionary use hash tables.

5. Why might you use a set instead of a list in Python?

   - A set is useful when we want to store only unique values and it automatically removes duplicate value and its provide mathematical operation like union , intersection , and difference which list do not.

6. What is a string in Python, and how is it different from a list?

   - A string in python is immutable sequence of characters means it cannot be changed after creation but list is mutable and it can hold different data types such as numbers , srings , float values etc . Lists are more flexible while strings are fixed.

7. How do tuples ensure data integrity in Python?

   - Tuples are immutable , so their contents cannot be changed after creation. This ensures the stored data remains constant throughout program execution. Because of this property tuples are often used to represent fixed data like coordinates or constant values.

8. What is a hash table, and how does it relate to dictionaries in Python?

   - A hash table is a data structure that maps keys to values using a hashing function. Python dictionaries are implemented using hash tables which allows fast access, insertion, and deletion of elements.

9. Can lists contain different data types in Python?

   - yes , list can store different data types in python at same time . list can store interger value , float value , string or another list.

10. Explain why strings are immutable in Python?

    - Strings are immutable in Python for reasons of efficiency and security. They cannot be changed Python can reuse string objects in memory which saves resources Immutability also prevents accidental modifications and makes strings safe for multi-threaded use.

11. What advantages do dictionaries offer over lists for certain tasks?

    - Dictionaries allows data to be stored in key value pairs which provides fast access using keys instead of relying on positions. This makes data more meaningful and organized compared to lists. For example, {"name": "Khushi", "age": 19} is much clearer than using a simple list.


12. Describe a scenario where using a tuple would be preferable over a list?

    - Tuples are preferable when you want data to remain constant and unchangeable. For example storing days of the week or coordinates works better with tuples because the data should not be altered. Tuples can also be used as dictionary keys, unlike lists.


13. How do sets handle duplicate values in Python?

    - Sets in Python automatically remove duplicate values. If we try to create a set with repeated items , only one copy will be stored. This ensures all elements of a set are unique by default.


14. How does the “in” keyword work differently for lists and dictionaries?

    - In lists, the "in" keyword checks if a value exists within the list elements. In dictionaries, "in" checks for the presence of a key, not a value. This makes checking membership in dictionaries faster and more efficient.


15. Can you modify the elements of a tuple? Explain why or why not?

    - Tuples cannot be modified after creation because they are immutable. we cannot change, add, or remove elements from a tuple. If a tuple contains a mutable object like a list, the contents of that inner list can still be changed.


16. What is a nested dictionary, and give an example of its use case?

    - A nested dictionary is a dictionary that contains another dictionary as its value. It is useful for storing structured or hierarchical data. For example a student record can be stored as {"Khushi": {"age": 19, "grade": "A"}}.


17. Describe the time complexity of accessing elements in a dictionary?

    - Accessing elements in a dictionary is on average O(1) because it uses hash tables for lookups. This means finding a key’s value is very fast. In rare cases of hash collisions, the time complexity can degrade to O(n).


18. In what situations are lists preferred over dictionaries?

    - Lists are preferred when the order of items matters or when duplicate values are allowed. They are also better for sequential data storage and iteration. Dictionaries, in contrast are better when data needs to be associated with unique keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

    - Dictionaries are considered unordered collections because items are retrieved based on their keys, not their positions. Python 3.7+ preserves insertion order, logically dictionaries remain unordered. This means their primary focus is fast key-based access, not sequence.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

    - A list is an ordered collection where elements are accessed using their index positions. A dictionary is an unordered collection where data is stored as key-value pairs and accessed using unique keys. Lists are ideal for sequences while dictionaries are better for quick lookups based on identifiers.

# Practical Questions

1. Write a code to create a string with your name and print it.

In [44]:
name = "Aditya Yadav"
print(name)

Aditya Yadav

2. Write a code to find the length of the string "Hello World".

In [45]:
str = "Hello World"
print(len(str))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [46]:
str = "Python Programming"
print(str[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [47]:
str = "hello"
print(str.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [48]:
str = "I like apple"
print(str.replace("apple","orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [49]:
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [50]:
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [51]:
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [52]:
list = ['a','b','c','d']
print(list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [53]:
list = [10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [54]:
tup = (100,200,300)
print(tup)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [55]:
tup = ('red','green','blue','yellow')
print(tup[-2])

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [56]:
tup = (10,20,5,15)
print(min(tup))

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [57]:
tup = ("dog","cat","rabbit")
print(tup.index("cat"))

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [58]:
tup = ("apple","mango","kiwi")
"kiwi" in tup

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [59]:
set = {"a","b","c"}
print(set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [60]:
set = {1,2,3,4,5}
set.clear()
print(set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [61]:
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [62]:
s1 = {1,2,3}
s2 = {3,4,5}
print(s1|s2)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [63]:
s1 = {1,2,3}
s2 = {2,3,4}
print(s1&s2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [64]:
dict = {"name":"Aditya","age":20,"city":"Delhi"}
print(dict)

{'name': 'Aditya', 'age': 20, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [65]:
dict = {"name":"John","age":25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [66]:
dict = {"name":"Alice","age":30}
print(dict["name"])

Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [67]:
dict = {"name":"Bob","age":22,"city":"New York"}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [68]:
dict = {"name":"Alice","city":"Paris"}
"city" in dict

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [69]:
list = [1,2,3,4]
tup = (1,2,3,4)
dict = {"name":"Adi","age":20}
print(list,"\n",tup,"\n",dict)

[1, 2, 3, 4]
 (1, 2, 3, 4)
 {'name': 'Adi', 'age': 20}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the

In [70]:
import random
list = []
for i in range(5):
  list.append(random.randint(1,100))
print(list)
list.sort()
print(list)

[23, 75, 5, 50, 53]
[5, 23, 50, 53, 75]

28. Write a code to create a list with strings and print the element at the third index.

In [71]:
list = ["apple","mango","kiwi"]
print(list[2])

kiwi

29. Write a code to combine two dictionaries into one and print the result.

In [72]:
dict1 = {"name":"Adi","age":20}
dict2 = {"country":"Delhi","course":"DS"}
print([dict1|dict2])

[{'name': 'Adi', 'age': 20, 'country': 'Delhi', 'course': 'DS'}]

30.  Write a code to convert a list of strings into a set.

In [73]:
del set
my_list = ["apple", "banana", "cherry"]
my_set = set(my_list)
print(my_set)

{'cherry', 'banana', 'apple'}